.chat-main
  .chat-main__group-info
    .group-info
      .group-info__group
        .group-info__group-name 
          = @group.name
        .group-info__group-menber
          - @group.users.each do |group_user|
            = group_user.name
      .group-info__edit-btn 
        = link_to "Edit", edit_group_path(params[:group_id]),class: "edit"

  .messages
    = render @messages
  
  .chat-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__form__input', placeholder: 'type a message'
      .message-btn
        = f.label :image, class: 'message-btn__image' do
          = icon('fas', 'image', class: 'ikon')
          = f.file_field :image, class: 'photo'
      = f.submit 'Send', class: 'chat-main__form-send'
      